table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}

td:focus {
    outline-color: blue;
}

th {
    color: white;
    background: black;
}

.td-text {
    height: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: #85a4ff;
    cursor: pointer;
}

.table-edit-container {
    text-align: center;
}

.edit-column {
    width: 1%;
}

.table-button-add {
    background: url(../img/add-icon.png) center;
    width: 30px;
    height: 30px;
    border: none;
    background-size: 70px;
}

.table-button-remove {
    background: url(../img/remove-icon.png) center;
    width: 30px;
    height: 30px;
    border: none;
    background-size: 75px;
}

.table-button-remove, .table-button-add:hover {
    cursor: pointer;
}

.table-button-remove, .table-button-add:focus {
    outline: none;
}

textarea {
    width: 100%;
    margin-top: 20px;
    display: block;
}

.export-wrap, .import-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-export, .button-import,
.button-save, .button-add-file {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.error-message {
    margin-top: 10px;
    visibility: hidden;
    color: red;
}

.button-save {
    margin-top: 20px;
    background: blue;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.file-input-wrap {
    position: relative;
}

.button-add-file {
    margin-top: 20px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Hide input and put it on top of styled button */
.file-input {
    text-align: center;
    font-size: 28px;
    width: 130px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer;
}